/* styles.css */

body {
    display:flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color:aquamarine;
    height: 72px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.logo {
    flex-grow: 1;
}

.main_body {
    display: flex;
    flex-direction: column;
}

.top_box {
    display: flex;
    margin: 0px;
    min-height: 300px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color:bisque;
}

.top_box_left, .top_box_right {
    width: 300px;
    flex-shrink: 1;
    margin:10px;
}

.middle_box, .quote_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    height: auto;
}

.info_box {
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 15px;
    text-align: center;
}

.box {
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 25px;
}

.quote_box {
    background-color: #e5e7eb;
}

p.quote {
    max-width:800px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 2px
}

p.thor {
    margin-left:100%;
}
