/* styles2.css */

body {
    display:flex;
    flex-direction: column; 
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: #1F2937;
    height: 72px;
    padding-left: 20vw;
    padding-right: 20vw;
    
}

.logo {
    flex-grow: 1;
    font-size: 24px;
    font-weight:bolder;
    color: #F9FAF8;
    text-decoration: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header_link {
    font-size: 16px;
    color: #F9FAF8;
    text-decoration: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.top_box, .footer {
    display: flex;
    flex-wrap: wrap;
    align-content:space-around;
    margin: 0px;
    min-height: 300px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
}

.footer {
    min-height: 100px;
    color: white;
}

.top_box_left {
    flex-basis:10%;
    max-width: 400px;
    flex: 1;
}

.top_box_right {
    flex-shrink: 3;
}

.top_h1 {font-size: 40px; color: #f0faf8; font-weight:bold}
.middle_h1 {font-size: 40px; color: #1F2937; font-weight:bold; text-align: center;}
h4 {font-size: 18px; color: #E5E7EB;}

.blue_text_button, .white_text_button  {
    background-color: #3882f6;
    color:white;
    border-radius: 8px;
    padding: 10px 40px;
    font-weight:bold;
    border: none;
}

.white_text_button {border: 2px solid white}

.middle_box, .quote_box, .advert_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.middle_box {
    margin-bottom: 40px;
}

.middle_box_content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}

.blue_box {
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    background-color: #3882f6 ;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    padding: 40px 10vw;
    gap: 5vw;
    align-items: center;
    min-width: 200px
}

.blue_box_left {
    max-width: 350px;
}

.blue_advert {
    color:white;
    margin: 1px;

}

.quote_box {
    background-color: #e5e7eb;   
}

.info_box {
    display: inline-block;
    height: 100%;
    width: 150px;
    margin: 15px;
    text-align: center;
}

.box {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

p.quote {
    padding: 0px 40px ;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 2px;
    max-width: 800px;
}

.thor {
    width: 100%;
    text-align: right;
    font-weight:bold;
}

